/*CAJAS*/
/*night theme*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

body {
  background-color: #fff0fd;
}

/*-------ENCABEZADO/HEADER--------*/
.inicio-gifos {
  width: 100%;
  position: relative;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  -webkit-box-shadow: 0 2px 0 0 rgba(17, 0, 56, 0.5);
          box-shadow: 0 2px 0 0 rgba(17, 0, 56, 0.5);
}

.inicio-gifos h3 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: lighter;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  padding: 4px 0;
  margin-left: 8px;
}

.encabezado-gifos {
  width: 100%;
  position: relative;
}

.elements-encabezados {
  margin-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.elements-encabezados .arrow {
  margin-bottom: 35px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.img {
  margin-left: 91px;
  padding: 12px 0;
}

.img img {
  width: 102px;
  cursor: pointer;
}

.btns {
  margin-right: 140.5px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /*check*/
  /*fin de check*/
}

.btns .btn-relleno {
  position: absolute;
  right: 413px;
  padding: 11px 26.5px;
  background-color: #F7C9F3;
  color: #110038;
  text-decoration: none;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0;
  margin: 0 8.25px;
  line-height: 18px;
}

.btns .btn-relleno:hover {
  background: #E6BBE2;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  -webkit-animation: rotacion 0.2s infinite linear;
          animation: rotacion 0.2s infinite linear;
}

.btns .btn-relleno:hover::after {
  content: "";
  top: 1px;
  right: 3px;
  position: absolute;
  border: 1px dotted #110038;
  padding: 17px 68px;
}

.btns .group-grid {
  position: relative;
  right: 75px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 151.5px 47px;
      grid-template-columns: 151.5px 47px;
  text-decoration: none;
  color: #110038;
  cursor: pointer;
}

.btns .group-grid .btn-relleno2 {
  padding: 11px 26.5px;
  background-color: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0;
  margin: 0 0 0 8.25px;
  line-height: 18px;
}

.btns .group-grid .btn-relleno2:hover {
  background: #E6BBE2;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  -webkit-animation: rotacion 0.2s infinite linear;
          animation: rotacion 0.2s infinite linear;
}

.btns .group-grid .btn-relleno2:hover::after {
  content: "";
  top: 2px;
  right: 54px;
  position: absolute;
  border: 1px dotted #110038;
  padding: 17px 65px;
}

.btns .group-grid .btn-rell-n {
  padding: 11px 26.5px;
  background-color: #EE3EFE;
  border: 1px solid #F7C9F3;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0;
  margin: 0 0 0 8.25px;
  line-height: 18px;
  color: #E6DCE4;
}

.btns .group-grid .btn-drop {
  margin: 0 8.25px 0 -5px;
  padding: 11px 15px;
  text-decoration: none;
  background-color: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0;
  line-height: 18px;
}

.btns .group-grid .btn-drop:hover {
  background: #E6BBE2;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  -webkit-animation: rotacion 0.2s infinite linear;
          animation: rotacion 0.2s infinite linear;
}

.btns .group-grid .btn-drop:hover::after {
  content: "";
  top: 2px;
  right: 12px;
  position: absolute;
  border: 1px dotted #110038;
  padding: 17px 17px;
}

.btns .group-grid .btn-drop-n {
  margin: 0 8.25px 0 -5px;
  padding: 11px 15px;
  text-decoration: none;
  background-color: #EE3EFE;
  border: 1px solid #F7C9F3;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0;
  line-height: 18px;
}

.btns .btn-night-theme {
  background-color: #EE3EFE;
  color: #E6DCE4;
}

.btns .dd-input {
  display: none;
}

.btns .dd-menu {
  position: absolute;
  right: 75px;
  top: 100%;
  padding: 0;
  margin: 0 8px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  list-style-type: none;
}

.btns .dd-input + .dd-menu {
  display: none;
}

.btns .dd-input:checked + .dd-menu {
  display: block;
  position: relative;
  top: 0;
}

.btns .dd-menu {
  padding: 1px;
  white-space: nowrap;
}

.btns .dd-menu li {
  cursor: pointer;
  margin: 8px;
  padding: 11px 26.5px;
  background: #F0F0F0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.btns .dd-menu li:hover {
  background: #FFF4FD;
  border: 1px solid #CCA6C9;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

.btns .btn-sin-relleno {
  position: absolute;
  right: 131px;
  padding: 11px 0;
  text-decoration: none;
  margin: 0 8.25px;
  color: #110038;
}

.btns .btn-sin-relleno::before {
  content: "_";
  position: absolute;
  bottom: 8px;
  margin-left: 1px;
}

.btns .btn-sin-relleno-n {
  position: absolute;
  right: 131px;
  padding: 11px 0;
  text-decoration: none;
  margin: 0 8.25px;
  color: #E6DCE4;
}

.btns .btn-sin-relleno-n::before {
  content: "_";
  position: absolute;
  bottom: 8px;
  margin-left: 1px;
}

/*-----ESTILOS DEL BUSCADOR-----*/
.buscador {
  position: relative;
  width: 100%;
  top: 25px;
}

.buscador .cont-browser {
  position: relative;
  margin: 0 140px 0 91px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.buscador .cont-browser .buscar-tit {
  position: relative;
  top: 2px;
  margin: 0 3px;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

.buscador .cont-browser .buscar-tit h3 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: lighter;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  padding: 4px 0;
  margin-left: 8px;
}

.buscador .cont-browser .buscador-text {
  width: 87%;
  max-width: 1130px;
  padding-left: 16px;
  font-size: 16px;
  color: #B4B4B4;
  height: 42px;
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  margin: 12px 0 12px 15px;
}

.buscador .cont-browser .btn-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #E6E6E6;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  cursor: pointer;
  padding: 7px 15px;
  float: right;
  margin: 16px 15px 16px 15px;
}

.buscador .cont-browser .btn-search p {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  color: #B4B4B4;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 5px;
}

.buscador .cont-browser .btn-search svg {
  width: 16px;
}

.buscador .cont-browser .btn-search svg g {
  fill: #B4B4B4;
}

.buscador .cont-browser .btn-search svg g .act-lupa {
  fill: #110038;
}

.buscador .cont-browser .btn-dos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F7C9F3;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  cursor: pointer;
  padding: 7px 15px;
  float: right;
  margin: 16px 15px 16px 0;
}

.buscador .cont-browser .btn-dos p {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 5px;
}

.buscador .cont-browser .btn-dos img {
  width: 16px;
}

.sugerencias {
  position: relative;
  top: 71px;
  width: 100%;
}

.sugerencias .cont-sugerencias {
  margin: 0 140px 0 91px;
  position: relative;
}

.sugerencias .cont-sugerencias .text-sugerencias {
  width: 100%;
  height: 32px;
  padding: 6px 0 6px 6px;
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}

.sugerencias .cont-sugerencias .text-sugerencias h3 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: lighter;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
}

.cont-gif {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  top: 25px;
}

.tendencias {
  position: relative;
  top: 71px;
  width: 100%;
  margin-top: 64px;
}

.tendencias .cont-sugerencias {
  margin: 0 140px 0 91px;
  position: relative;
}

.tendencias .cont-sugerencias .text-sugerencias {
  width: 100%;
  height: 32px;
  padding: 6px 0 6px 6px;
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}

.tendencias .cont-sugerencias .text-sugerencias h3 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: lighter;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
}

/*----CREAR GIFOS-----*/
.contraer {
  margin: 0 300px;
}

.contraer .espaciado {
  margin: 10px 60px;
}

.contraer .espaciado p {
  margin: 20px 10px;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  line-height: 20px;
}

.cont-creargif {
  position: relative;
  width: 100%;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  top: 100px;
  padding: 10px;
}

.buscar-tit-gif {
  position: absolute;
  width: 100%;
  top: 2px;
  right: 0;
  margin: 0 1px;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

.buscar-tit-gif h3 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: lighter;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  padding: 4px 0;
  margin-left: 8px;
}

.tituloprincipal {
  margin: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 20px;
}

.tituloprincipal h3 {
  font-weight: bold;
  margin-left: 10px;
}

.textContent {
  position: relative;
  top: 10px;
}

.btn-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 45px 10px 10px 20px;
  top: 200px;
}

.cancel-btn {
  margin: 0 5px 10px 0;
  padding: 10px 30px;
  background: #FFF4FD;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  cursor: pointer;
}

.start-btn {
  margin: 0 0 10px 5px;
  padding: 10px 30px;
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  cursor: pointer;
}

.sec-resultados {
  position: relative;
  top: 100px;
  margin: 0 140px 0 91px;
  width: calc(300px*4+3em);
}

.result {
  -webkit-columns: 4;
          columns: 4;
  -webkit-column-gap: 1em;
          column-gap: 1em;
}

.img-item {
  cursor: pointer;
  margin: 0.5em 0;
}

.auto-comp {
  position: relative;
  margin: 0 140px 0 91px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  z-index: 3;
  padding: 10px 0;
}

.box-auto {
  position: relative;
  width: 100%;
  max-width: 1130px;
  padding-left: 16px;
  margin: 12px 0 12px 15px;
  background: #F0F0F0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  height: 42px;
  cursor: pointer;
  text-align: left;
}

/*BUSQUEDAS GUARDADAS*/
.res-guard {
  margin: 0 140px 0 91px;
}

.res-guard-btn {
  background: #4180F6;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
  color: #FFFFFF;
  padding: 8px;
  margin: 10px 10px 0 0;
  cursor: pointer;
}

.click-over {
  position: relative;
  margin-left: 5px;
  z-index: 1;
}

.cont-tit-camera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 2px;
  right: 0;
  margin: 0 1px;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

.cont-tit-camera h3 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: lighter;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  padding: 4px 0;
  margin-left: 8px;
}

.cont-tit-camera img {
  position: relative;
  margin: 5px 8px 0 0;
}

.cont-padre-cam {
  width: 649px;
  height: 403px;
  margin: 21px auto;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  background: #ffff;
}

.cont-cajacam {
  position: relative;
  margin: 0 52px 0 91px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.camara {
  position: relative;
  margin: 2px;
}

.preview {
  width: 643px;
  height: 397px;
  background: black;
  position: relative;
  margin: 2px;
}

.btns-cam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 16px 10px 10px 20px;
  top: 200px;
}

.cont-btn-record {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 16px 10px 10px 20px;
  top: 200px;
}

.btn-grabar {
  margin: 0 0 10px 0;
  padding: 10px 37px;
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.btn-record {
  margin: 0 0 10px 0;
  padding: 10px 50px;
  background: #FF6161;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.cameraimg {
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  cursor: pointer;
  margin: 0 0 10px 5px;
  padding: 0 10px;
}

.cameraRecord {
  background: #FF6161;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
  cursor: pointer;
  margin: 0 0 10px 5px;
  padding: 0 10px;
}

.column-btn {
  position: relative;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  top: 50px;
}

.play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 25px;
}

.play button img {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 13px;
  height: 13px;
}

.contador {
  padding: 5px;
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  width: 100px;
  height: 32px;
  margin-left: 20px;
  text-align: center;
}

.reproducir {
  margin-bottom: 13px;
  margin-left: 20px;
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  padding: 5px 7px;
}

#repro {
  position: relative;
  width: 200px;
  height: 23px;
  background: #999999;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
          box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 2px;
  padding: 2px;
}

#progress {
  position: relative;
  display: inline-block;
  padding: 1px;
  background: #F7C9F3;
  height: 20px;
  border: 1px solid #000;
}

.btnCam-group {
  margin: -5px 1px 0px 70px;
  float: right;
}

.btn-upload {
  padding: 11px 11px;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  cursor: pointer;
}

.btn-cancel {
  padding: 11px 11px;
  font-size: 16px;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  background: #FFF4FD;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  cursor: pointer;
}

.btn-cancel a {
  text-decoration: none;
  color: #110038;
}

.verVideo {
  width: 643px;
  height: 397px;
  background: black;
  position: relative;
  margin: 2px;
}

.dispNone {
  display: none;
}

.ventanaCarga {
  width: 643px;
  height: 397px;
  background: #FFFFFF;
  position: relative;
  margin: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recordVideoUno {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contadorVideo {
  float: left;
  padding: 5px;
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  width: 100px;
  height: 32px;
  margin-left: 5px;
  margin-top: 20px;
  text-align: center;
}

.img-glob {
  position: relative;
  margin: auto;
  top: 50px;
}

.tituloVentana {
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
}

progress {
  width: 300px;
  position: relative;
  bottom: 60px;
  display: inline-block;
  padding: 1px;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
          box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
  margin: auto;
  position: relative;
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

progress[value]::-webkit-progress-bar {
  background: #999999;
  outline: 1px solid black;
}

progress[value]::-webkit-progress-value {
  background: #F7C9F3;
  border: 1px solid black;
  padding: 1px;
}

.text-par {
  font-size: 12px;
  color: rgba(17, 0, 56, 0.64);
  letter-spacing: 0;
  text-align: center;
  line-height: 14px;
  position: relative;
  bottom: 100px;
}

.btnCam {
  margin: 12px 1px 29px 70px;
  float: right;
}

.btn-cancel2 {
  padding: 11px 35px;
  font-size: 16px;
  margin: 10px;
  text-decoration: none;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  background: #FFF4FD;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  cursor: pointer;
}

.resultGif {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.resultGifCrear {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 100px;
}

.divMisgifos {
  margin: 5px;
  position: relative;
  width: 300px;
  height: 200px;
  background: #F0F0F0;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.imgMisGifs {
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  position: relative;
  width: 100%;
  height: 200px;
  max-height: 360px;
  padding: 3px;
}

.cont-sugerencias-Crear {
  margin: 0 140px 0 91px;
  position: relative;
  top: 100px;
}

.cont-sugerencias-Crear .text-sugerencias {
  width: 100%;
  height: 32px;
  padding: 6px 0 6px 6px;
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}

.cont-sugerencias-Crear .text-sugerencias h3 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: lighter;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
}

.cont-cajafinal {
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  width: 800px;
  margin: auto;
  height: 400px;
}

.cont-derecha-dow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  float: right;
  padding: 0 10px;
  margin-top: 75px;
}

.titulo-dowbox {
  margin-bottom: 10px;
}

.gifCreadoEstilo {
  width: 50%;
  margin-top: 10px;
  margin-left: 10px;
}

.btn-boxdow {
  background: #FFF4FD;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  text-decoration: none;
  padding: 10px 30px;
  margin: 10px 0;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btn-boxdow a {
  text-decoration: none;
  color: #110038;
}

.btn-listo {
  position: relative;
  top: 321px;
  left: 78%;
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
  line-height: 18px;
  padding: 10px 60px;
}

.imgMiGif {
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  position: relative;
  width: 100%;
  height: 250px;
  max-height: 360px;
  padding: 3px;
}

/*--SUGERENCIAS--*/
.sug-element-style {
  position: relative;
  width: 287px;
  height: 300px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.sug-element-title {
  height: 25px;
  margin: 0 3px;
  position: relative;
  top: 2px;
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  font-size: 14px;
  overflow: hidden;
  color: #ffffff;
  padding: 4px 0;
  overflow: hidden;
}

.sug-element-img {
  position: relative;
  width: 100%;
  height: 275px;
  max-height: 300px;
  padding: 3px;
}

.sug-close {
  width: 16px;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1;
  cursor: pointer;
}

.btn-vermas {
  position: absolute;
  background: #4180F6;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
  color: #FFFFFF;
  z-index: 2;
  padding: 10px 15px;
  bottom: 0;
  left: 0;
  margin: 0 0 15px 10px;
  cursor: pointer;
}

/*TENDENCIAS Y BUSQUEDA*/
.cont-gif-tend {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(283px, auto))[4];
      grid-template-columns: repeat(4, minmax(283px, auto));
  grid-gap: 25px;
  width: 100%;
  top: 25px;
  grid-auto-flow: dense;
}

.trend-element-style {
  position: relative;
  width: 287px;
  height: 283px;
}

.trend-element-style-tres {
  grid-column: span 2;
  position: relative;
  width: 566px;
  height: 283px;
}

.trend-element-style-hv {
  position: relative;
  width: 283px;
  height: 283px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.trend-element-style-hv-tres {
  position: relative;
  width: 620px;
  height: 283px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.trend-element-title {
  height: 25px;
  margin: 0 3px;
  position: relative;
  top: 255px;
  z-index: 1;
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  font-size: 14px;
  overflow: hidden;
  color: #ffffff;
  padding: 4px 0;
  overflow: hidden;
}

.trend-element-title-tres {
  grid-column: span 2;
  height: 25px;
  width: 610px;
  margin: 0 3px;
  position: relative;
  top: 255px;
  z-index: 1;
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  font-size: 14px;
  overflow: hidden;
  color: #ffffff;
  padding: 4px 0;
  overflow: hidden;
}

.trend-element-img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-height: 300px;
  padding: 3px;
  grid-auto-columns: column dense;
}

.trend-element-img-tres {
  grid-auto-columns: column dense;
  grid-column: span 2;
  position: absolute;
  width: 615px;
  height: 100%;
  padding: 3px;
}

/*CSS SEARCH*/
.trend-tit-search {
  height: 25px;
  margin: 0 3px;
  position: relative;
  top: 272px;
  z-index: 1;
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  font-size: 14px;
  overflow: hidden;
  color: #ffffff;
  padding: 4px 0;
  overflow: hidden;
}
/*# sourceMappingURL=styles.css.map */