$fuente-madre: 'Chakra Petch', sans-serif;

/*night theme*/

$color-body-n: #110038;
$btn-dark: #EE3EFE;
$box-shadow-dark: #A72CB3;
$gradient-dark: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
$border: #110038;
$border-text: #2E32FB;

/*elementos*/
$grey-dark: #B4B4B4;
$inner-s-dark: #8F8F8F;
$shadow-boxcont: #5C5C5C;


.sug-element-style{
    position: relative;
    width: 287px;
    height: 300px;
    background: $grey-dark;
    box-shadow: inset -2px -2px 0 0 $shadow-boxcont, inset 2px 2px 0 0 #FFFFFF;
}

.sug-element-title{
    height: 25px;
    margin: 0 3px;
    position: relative;
    top: 2px;
    background:$gradient-dark;
    font-size: 14px;
    overflow: hidden;
    color: #ffffff;
    padding: 4px 0;
    overflow: hidden;
}



.sug-element-img{
    position: relative;
    width: 100%;
    height: 275px;
    max-height: 300px;
    padding: 3px;
    
}

.sug-close{
    width: 16px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
    cursor: pointer;
}

.btn-vermas{
    position: absolute;
    background: #2E32FB;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
    
    color: #FFFFFF;
    z-index: 2;
    padding: 10px 15px;
    bottom: 0;
    left: 0;
    margin: 0 0 15px 10px;
    cursor: pointer;
}



/*TENDENCIAS Y BUSQUEDA*/


.cont-gif-tend{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, minmax(283px, auto));
    grid-gap: 25px;
   
    width: 100%;
    top: 25px;
    grid-auto-flow: dense;
}

.trend-element-style{
    position: relative;
    width: 283px;
    height: 283px;
}

.trend-element-style-tres{
    grid-column: span 2;
    position: relative;
    width: 566px;
    height: 283px;
}

//separando

.trend-element-style-hv{
    position: relative;
    width: 283px;
    height: 283px;
    background: $grey-dark;
    box-shadow: inset -2px -2px 0 0 $shadow-boxcont, inset 2px 2px 0 0 #FFFFFF;
}

.trend-element-style-hv-tres{
    position: relative;
    width: 620px;
    height: 283px;
    background: $grey-dark;
    box-shadow: inset -2px -2px 0 0 $shadow-boxcont, inset 2px 2px 0 0 #FFFFFF;
}

//separando

.trend-element-title{
    height: 25px;
    margin: 0 3px;
    position: relative;
    top: 255px;
    z-index: 1;
    background:$gradient-dark;
    font-size: 14px;
    overflow: hidden;
    color: #ffffff;
    padding: 4px 0;
    overflow: hidden;
}


.trend-element-title-tres{
    grid-column: span 2;
    height: 25px;
    width:610px;
    margin: 0 3px;
    position: relative;
    top: 255px;
    z-index: 1;
    background:$gradient-dark;
    font-size: 14px;
    overflow: hidden;
    color: #ffffff;
    padding: 4px 0;
    overflow: hidden;
}


.trend-element-img{
    position: absolute;
    width: 100%;
    height: 283px;
    max-height: 300px;
    padding: 3px;
    
}

.trend-element-img-tres{
    grid-column: span 2;
    position: absolute;
    width: 615px;
    height: 100%;
    padding: 3px;
    overflow: hidden;
    
}


.trend-tit-search{
    height: 25px;
    margin: 0 3px;
    position: relative;
    top: 272px;
    z-index: 1;
    background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    font-size: 14px;
    overflow: hidden;
    color: #ffffff;
    padding: 4px 0;
    overflow: hidden;
}