$fuente-madre: 'Chakra Petch', sans-serif;

/*night theme*/

$color-body-n: #110038;
$btn-dark: #EE3EFE;
$box-shadow-dark: #A72CB3;
$gradient-dark: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
$border: #110038;
$border-text: #2E32FB;

/*elementos*/
$grey-dark: #B4B4B4;
$inner-s-dark: #8F8F8F;




*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: $fuente-madre;
    transition: all 0.2s;
}

body{
    background-color: $color-body-n;
}

/*-------ENCABEZADO/HEADER--------*/

.inicio-gifos{
    width: 100%;
    position: relative;
    background-image: $gradient-dark;
    box-shadow: $border;

    h3{
        font-family: $fuente-madre;
        font-weight: lighter;
        font-size: 12px;
        color: #FFFFFF;
        letter-spacing: 0;
        padding: 4px 0;
        margin-left: 8px;
    }
    
}


.encabezado-gifos{
    width: 100%;
    position: relative;
}

.elements-encabezados{
    margin-top: 44px;
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    flex-direction: row;

    .arrow{
        margin-bottom: 35px;
        width: 24px;
        height: 24px;
        vertical-align: middle;
    }
}

.img{
    margin-left: 91px;
    padding: 12px 0;
    img{
        width: 102px;
    }
}

.btns{
    margin-right: 140.5px;
    padding: 20px 0;
    display: flex;
    flex-direction: row;

    .btn-relleno{
        position: absolute;
        right: 413px;
        padding: 11px 26.5px;
        background-color: $btn-dark;
        color: #FFFFFF;
        text-decoration: none;
        border: 1px solid $border;
        box-shadow: inset -1px -1px 0 0 $box-shadow-dark, inset 1px 1px 0 0;
        margin: 0 8.25px;
        line-height: 18px;

        &:hover{
            //border: 1px dotted #110038;
            
            background: #CE36DB;
            border: 1px solid #110038;
            box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;

            &::after{
                content: "";
                top: 1px;
                right: 3px;
                position: absolute;
                border: 1px dotted #110038;
                padding: 17px 68px;
            }

        }
    }
    .group-grid{
        position: relative;
        right: 75px;
        display: grid;
        grid-template-columns: 151.5px 47px;
        text-decoration: none;
        color: #FFFFFF;
        cursor: pointer;


        .btn-relleno2{
            padding: 11px 26.5px;
            background-color: $btn-dark;
            border: 1px solid $border;
            box-shadow: inset -1px -1px 0 0 $box-shadow-dark, inset 1px 1px 0 0;
            margin: 0 0 0 8.25px;
            line-height: 18px;

            &:hover{
                //border: 1px dotted #110038;
                
                background: #CE36DB;
                border: 1px solid #110038;
                box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    
                &::after{
                    content: "";
                    top: 2px;
                    right: 54px;
                    position: absolute;
                    border: 1px dotted #110038;
                    padding: 17px 65px;
                }
    
            }
            
        }
    
        .btn-drop{
            margin: 0 8.25px 0 -5px;
            padding: 11px 15px;
            text-decoration: none;
            background-color: $btn-dark;
            border: 1px solid $border;
            box-shadow: inset -1px -1px 0 0 $box-shadow-dark, inset 1px 1px 0 0;
            line-height: 18px;

            &:hover{
                //border: 1px dotted #110038;
                
                background: #CE36DB;
                border: 1px solid #110038;
                box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    
                &::after{
                    content: "";
                    top: 2px;
                    right: 12px;
                    position: absolute;
                    border: 1px dotted #110038;
                    padding: 17px 17px;
                }
    
            }
            
        }
    }



    /*check*/
    
    .dd-input {
        display: none;
      }
      
      .dd-menu {
        position: absolute;
        right: 75px;
        top: 100%;
        padding: 0;
        margin: 0 8px;
        background: $grey-dark;
        box-shadow: inset -2px -2px 0 0 $inner-s-dark, inset 2px 2px 0 0 #FFFFFF;
        list-style-type: none;
      }
      
      .dd-input + .dd-menu {
        display: none;
      } 
      
      .dd-input:checked + .dd-menu {
        display: block;
        position: relative;
        top: 0;
      } 
      
      .dd-menu {
        padding: 1px;
        
        white-space: nowrap;
        li {
            cursor: pointer;
            margin: 8px;
            padding: 11px 26.5px;
            background: #CCCCCC;
            border: 1px solid #808080;
            box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;

            &:hover{
                background: #2E32FB;
                border: 1px solid rgba(51,53,143,0.20);
                box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
                color: #FFFFFF;
            }
        }
        
      }

    /*fin de check*/

    .btn-sin-relleno{
        position: absolute;
        right: 131px;
        padding: 11px 0;
        text-decoration: none;
        margin: 0 8.25px;
        color: #FFFFFF;
        
        &::before {
            content: "_";
            position: absolute;
            bottom: 8px;
            margin-left: 1px;
        }
    }

}


/*-----ESTILOS DEL BUSCADOR-----*/

.buscador{
    position: relative;
    width: 100%;
    top: 25px;

    .cont-browser{
        position: relative;
        margin: 0 140px 0 91px;
        background: $grey-dark;
        box-shadow: inset -2px -2px 0 0 $inner-s-dark, inset 2px 2px 0 0 #FFFFFF;

        
        
        .buscar-tit{
            position: relative;
            top: 2px;
            margin: 0 3px;
            background-image: $gradient-dark;

            h3{
                font-family: $fuente-madre;
                font-weight: lighter;
                font-size: 12px;
                color: #FFFFFF;
                letter-spacing: 0;
                padding: 4px 0;
                margin-left: 8px;
            }
        }


        .buscador-text{
            width: 87%;
            max-width: 1130px;
           padding-left: 16px;
           font-size: 16px;
           color: #B4B4B4;
            height: 42px;
            background: #FFFFFF;
            border: 1px solid #979797;
            box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
            margin: 12px 0 12px 15px;
        }

        .btn-search{
            display: flex;
            background: $grey-dark;
            border: 1px solid $inner-s-dark;
            box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
            cursor: pointer;
            padding: 7px 15px;
            float: right;
            margin: 16px 15px 16px 15px;
            

            p{
                font-family: $fuente-madre;
                font-size: 16px;
                color: #8F8F8F;
                letter-spacing: 0;
                line-height: 18px;
                margin-left: 5px;
            }

            svg{
                width: 16px;

                g{
                    fill:#8F8F8F;
                }

                g .act-lupa{
                    fill: $color-body-n;
                }
                
            }

            
        }
        .btn-dos{
            display: flex;
            background: #F7C9F3;
            border: 1px solid #808080;
            box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
            cursor: pointer;
            padding: 7px 15px;
            float: right;
            margin: 16px 15px 16px 0;
            

            p{
                font-family: $fuente-madre;
                font-size: 16px;
                color: #110038;
                letter-spacing: 0;
                line-height: 18px;
                margin-left: 5px;
            }

            img{
                width: 16px;
            }
        }
    }
}

.sugerencias{
    position: relative;
    top: 71px;
    width: 100%;

    .cont-sugerencias{
        margin: 0 140px 0 91px;
        position: relative;

        .text-sugerencias{
            width: 100%;
            height: 32px;
            padding: 6px 0 6px 6px;
            background: #FFFAFE;
            border: 1px solid $border-text;
            box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 $color-body-n;

            h3{
            font-family: $fuente-madre;
            font-weight: lighter;
            font-size: 14px;
            color: $color-body-n;
            letter-spacing: 0;
            }
            
        }
    }
}

.cont-gif{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    justify-content: space-between;
    width: 100%;
    top: 25px;
    

    .subcont{
        width: 300px;
        height: 300px;
        border: 1px solid black;
    }
}


.tendencias{
    position: relative;
    top: 71px;
    width: 100%;
    margin-top: 64px;

    .cont-sugerencias{
        margin: 0 140px 0 91px;
        position: relative;

        .text-sugerencias{
            width: 100%;
            height: 32px;
            padding: 6px 0 6px 6px;
            background: #FFFAFE;
            border: 1px solid #2E32FB;
            box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;

            h3{
            font-family: $fuente-madre;
            font-weight: lighter;
            font-size: 14px;
            color: $color-body-n;
            letter-spacing: 0;
            }
            
        }
    }
}


.sec-resultados{
    position: relative;
    top: 100px;
    margin: 0 140px 0 91px;
    width: calc(280px*4+3em);
    //justify-content: center;
}

.result{
    columns: 4;
    column-gap: 1em;
}

.img-item{
    cursor: pointer;
    margin: 0.5em 0;
    //overflow: hidden;
}

.auto-comp{
    
    position: relative;
    //width:100%;
    margin: 0 140px 0 91px;
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;

    z-index: 3;
    padding: 10px 0;
}


.box-auto{
    position: relative;
    width: 100%;
    max-width: 1130px;
    padding-left: 16px;
    margin: 12px 0 12px 15px;
    background: #CCCCCC;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
    height: 42px;
    cursor: pointer;
    text-align: left;
}

.contraer{
    margin: 0 300px;

    
    .espaciado{
        margin: 10px 60px;
        p{
            margin: 20px 10px;
            font-size: 14px;
            color: #110038;
            letter-spacing: 0;
            line-height: 20px;
        }
    }
}

.cont-creargif {
    position: relative;
    width: 100%;
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
    top: 100px;
    padding: 10px;
}

.buscar-tit-gif{
    position: absolute;
    width: 100%;
    top: 2px;
    right: 0;
    margin: 0 1px;
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    
    h3{
        font-family: $fuente-madre;
        font-weight: lighter;
        font-size: 12px;
        color: #FFFFFF;
        letter-spacing: 0;
        padding: 4px 0;
        margin-left: 8px;
    }
}

.tituloprincipal{
    margin: 25px;
    display:flex;
    position: relative;
    top: 20px;

    h3{
        font-weight: bold;
        margin-left: 10px;
    }
}

.textContent{
    position: relative;
    top: 10px;
}


.btn-start{
    //float: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 45px 10px 10px 20px;
    top: 200px;
    
}

.cancel-btn{
    margin: 0 5px 10px 0;
    padding: 10px 30px;
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    cursor: pointer;
}

.start-btn{
    margin: 0 0 10px 5px;
    padding: 10px 30px;
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    cursor: pointer;
    color: #fff;
}


/*BUSQUEDAS GUARDADAS*/

.res-guard{
    margin: 0 140px 0 91px;
}

.res-guard-btn{
    background: #2E32FB;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
    color: #FFFFFF;
    padding: 8px;
    margin: 10px 10px 0 0;
    cursor: pointer;
}

.click-over{
    position: relative;
    margin-left: 5px;
    z-index: 1;
}


//INGRESAR A CAMARA


.cont-tit-camera{
    display: flex;
    justify-content: space-between;
    //width: 98%;
    top: 2px;
    right: 0;
    margin: 0 1px;
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    
    h3{
        font-family: $fuente-madre;
        font-weight: lighter;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0;
        padding: 4px 0;
        margin-left: 8px;
    }

    img{
        position: relative;
        margin: 5px 8px 0 0;
        
    }
}

.cont-padre-cam{
    width: 649px;
    height: 403px;
    margin:21px auto;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    //padding: 2px;
    background: #ffff
}

.cont-cajacam{
    position: relative;
    margin: 0 52px 0 91px;
    background: #B4B4B4;
box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.camara{
    position: relative;
    
    //background: black;
    margin: 2px;
    
}

.preview{
    width: 643px;
    height: 397px;
    background: black;
    position: relative;
    margin: 2px;
}

.btns-cam{
    //float: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 16px 10px 10px 20px;
    top: 200px;
    
}

.cont-btn-record{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 16px 10px 10px 20px;
    top: 200px;
}

.btn-grabar{
    margin: 0 0 10px 0;
    padding: 10px 37px;
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    }


.btn-record{
    margin: 0 0 10px 0;
    padding: 10px 50px;
    background: #FF6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}

.cameraimg{
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    cursor: pointer;
    margin: 0 0 10px 5px;
    padding: 0 10px;
}

.cameraRecord{
    background: #FF6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
    cursor: pointer;
    margin: 0 0 10px 5px;
    padding: 0 10px;
}


.column-btn{
    position: relative;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
    top: 50px;
}

.play{
    display: flex;
    padding-bottom: 25px;
    button{
        

        img{
            transform: rotate(-90deg);
            width:13px;
            height: 13px;
        }
    }
    
}

.contador{
    padding: 5px;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    width:100px;
    height: 32px;
    margin-left: 20px;
    text-align: center;
}

.reproducir{
        margin-bottom: 13px;
        margin-left: 20px;
        background: #EE3EFE;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
        padding: 5px 7px;
}

#repro{
    position: relative;
    width: 200px;
    height: 23px;
    background: #999999;
    box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 2px;
    padding: 2px;
    
}

#progress{

    position: relative;
    display: inline-block;
    padding: 1px;
    background: #EE3EFE;
    height: 20px;
    border: 1px solid #000;
}


.btnCam-group{
    margin: -5px 1px 0px 70px;
    float: right;
}



.btn-upload {
    padding: 11px 11px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
     cursor: pointer;
}

.btn-cancel {
    padding: 11px 11px;
    font-size: 16px;
    
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    cursor: pointer;

    a{
        text-decoration: none;
        color: #110038;
    }
}

.verVideo{
    width: 643px;
    height: 397px;
    background: black;
    position: relative;
    margin: 2px;
}




//preloader ventana
.dispNone{
    display: none;
}

.ventanaCarga{
    width: 643px;
    height: 397px;
    background: #FFFFFF;
    position: relative;
    margin: 2px;
    display: flex;
    flex-direction: column;

    
}

.recordVideoUno{
    width: 100%;
    display: flex;

}

.contadorVideo{
    float: left;
    padding: 5px;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    width:100px;
    height: 32px;
    margin-left: 5px;
    margin-top: 20px;
    text-align: center;
}



.img-glob{
    position: relative;
    margin: auto;
    top: 50px;
}
.tituloVentana{
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;

}


progress{
    width:300px;
    position: relative;
    bottom: 60px;
    display: inline-block;
    padding: 1px;
    //background: #B4B4B4;
    box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
    margin: auto;
    position: relative;
    //padding: 2px;
}


progress[value] {
    -webkit-appearance: none;
    appearance: none;
    
    &::-webkit-progress-bar{
        background: #999999;
        outline: 1px solid black;
    }
    &::-webkit-progress-value{
        background: #EE3EFE;
        border: 1px solid black;
        padding:1px;
    }
    
  }


.text-par{     
    font-size: 12px;
    color: rgba(17,0,56,0.64);
    letter-spacing: 0;
    text-align: center;
    line-height: 14px;
    position: relative;
    bottom: 100px;
}

.btnCam{
    margin: 12px 1px 29px 70px;
    float: right;
}

.btn-cancel2 {
    padding: 11px 35px;
    font-size: 16px;
    margin: 10px;
    text-decoration: none;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    cursor: pointer;
}




//MIS GIFOS :: TAMAÑO Y ADAPTACIÓN DE GIF

.resultGif{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto)
}

.resultGifCrear{
    width: 100%;
    display: flex;
    position: relative;
    top: 100px;
}

.divMisgifos{
    margin: 5px;
    position: relative;
    width: 300px;
    height: 200px;
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.imgMisGifs{
    
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
    position: relative;
    width: 100%;
    height: 200px;
    max-height: 360px;
    padding: 3px;

}


.cont-sugerencias-Crear{
    margin: 0 140px 0 91px;
    position: relative;
    top: 100px;

    .text-sugerencias{
        width: 100%;
        height: 32px;
        padding: 6px 0 6px 6px;
        background: #FFFAFE;
        border: 1px solid #2E32FB;
        box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;

        h3{
        font-family: $fuente-madre;
        font-weight: lighter;
        font-size: 14px;
        color: #000;
        letter-spacing: 0;
        }
        
    }
}


//CAJA DE DESCARGA

.cont-cajafinal{
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
    width: 800px;
    margin: auto;
    height: 400px;
}

.cont-derecha-dow{
    display: flex;
    flex-direction: column;
    width: 45%;
    float: right;
    padding:0 10px;
    margin-top: 75px;
}

.titulo-dowbox{
    margin-bottom: 10px;
}

.gifCreadoEstilo{
    width: 50%;
    margin-top: 10px;
    margin-left: 10px;
}

.btn-boxdow{
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    text-decoration: none;
    padding: 10px 30px;
    margin: 10px 0;
    cursor: pointer;

transition: all 0.2s linear;

a{
    text-decoration: none;
    color: #110038;
}
}

.btn-listo{
    position: relative;
    top:321px;
    left: 78%;
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0;
    text-align: center;
    text-decoration: none;
    line-height: 18px;
    padding: 10px 60px;


}

.imgMiGif{
    
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    position: relative;
    width: 100%;
    height: 250px;
    max-height: 360px;
    padding: 3px;

    

}

@import "sassdark/_dark.scss";